xml/simple.dtd

<!ELEMENT list (product) >
<!ELEMENT product (name, brief_intro, features, list_of_products, item)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT brief_intro (#PCDATA)>
<!ELEMENT features (#PCDATA)>
<!ELEMENT list_of_products (#PCDATA)>
<!ELEMENT item (name, details_info)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT details_info (#PCDATA)>