xml/simple.dtd

<!ELEMENT hero (info) >
<!ELEMENT info (name, brief_intro, age, list_of_abilities, item)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT brief_intro (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT list_of_abilities (#PCDATA)>
<!ELEMENT item (name, details_info)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT details_info (#PCDATA)>